<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Future Of Open Gaming Is Near! - GamingFreedom</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="gaming freedom, free, games, open, source">
		<meta name="author" content="Claudio Desideri">

		<!--^--bootstrapHeader--^-->
			
	</head>
<body>
	<div class="container">
	<div class="navbar">
    <div class="navbar-inner myshadow">
    <div class="container">
    <a class="brand" href="/">
    Gaming Freedom
    </a>
    
    <!--^--navbar--^-->
    
    <!--^--search_game_box--^-->
    
    <ul class="nav pull-right">
    <li><a href="#">Link</a></li>
    
    <!--^--ocs_user_box--^-->
    </ul>
    
    </div>
    </div>
    </div>
    
    <div class="row">
		<div class="span7 columns well myradius myshadow">
			<div class="row">
				<div class="span4 columns">
					<div id="myCarousel" class="carousel slide myradius">

					<div class="carousel-inner">
						
					<!--^--carousel_images--^-->
					
					</div>
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			
				<div class="span3 columns">
					<h2><!--^--game_title--^--></h2>
					<!--^--averagescore--^-->
					<p style="font-weight:bold;"><!--^--game_summary--^--></p>

				</div>
			</div>
			
			<div class="span6 columns">
					<h3>Features:</h3>
					<p><!--^--game_description--^--></p>
			</div>
			<div class="span6 columns">
					<h3>Changelog:</h3>
					<p style="font-family:monospace;"><!--^--game_changelog--^--></p>
			</div>
			<div class="span6 columns">
				<hr>
			</div>
			<div class="span6 columns">
				<span class="gamefooter">Author:</span> <!--^--game_author--^--></span> 
				<span class="gamefooter">Version:</span> <span class="bold"><!--^--game_version--^--></span><br><br>
				<!--^--setscore_button--^--><br>
				<!--^--download_button--^-->
				<!--^--becomefan_button--^-->
			</div>
			<div class="span6 columns">
				<hr>
			</div>
			<div class="span6 columns">
				<h3>Comments:</h3>
				<p style="font-family:monospace;"><!--^--game_comments--^--><!--^--game_insert_comments--^--></p>
			</div>
		</div>
		<div class="span4 columns">
			<!--^--mod_game--^-->
			
			<!--^--right_menu--^-->
			
			<div class="span4 columns" style="text-align: center">
				<a href="http://www.theoryphotoart.com" target="_blank">
					<img src="/template/img/screenshot-unavailable.png" class="myborder">
				</a>
			</div>
		</div>
    </div>
	
	</div>
		<!--^--bootstrapFooter--^-->
		<!--^--alerts--^-->
</body>
</html>
