<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>The Future Of Open Gaming Is Near! - GamingFreedom</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="gaming freedom, free, games, open, source">
		<meta name="author" content="Claudio Desideri">

		<!--^--bootstrapHeader--^-->
			
	</head>
<body>
	<div class="container">
	<div class="navbar">
    <div class="navbar-inner myshadow">
    <div class="container">
    <a class="brand" href="/">
    Gaming Freedom
    </a>
    
    <!--^--navbar--^-->
    <!--^--search_game_box--^-->
    
    <ul class="nav pull-right">
    <li><a href="#">Link</a></li>
    
    <!--^--ocs_user_box--^-->
    </ul>
    
    </div>
    </div>
    </div>
    
    <div class="row">
		<div class="span7 columns well myradius myshadow">
				<!--^--game_list--^-->
		</div>
		<div class="span4 columns">
			
			<!--^--right_menu--^-->
			
			<div class="span4 columns" style="text-align: center">
				<a href="http://www.theoryphotoart.com" target="_blank">
					<img src="/template/img/screenshot-unavailable.png" class="myborder">
				</a>
			</div>
		</div>
    </div>
	
	</div>
		<!--^--bootstrapFooter--^-->
		<!--^--alerts--^-->
</body>
</html>
