<html>
	<head><title>GFX3 Status</title></head>
	
	<body>
		<div style="margin-left:20%;margin-right:20%;font-family:Arial;">
			
			<h1 style="border-bottom:1px black solid;">GFX3 Analyzer</h1>
			
			<table style="width:600px;">
				<tr style="border-bottom:1px black solid;"><td>Core libs:</td><td><!--^--corelibs--^--></td></tr>
				<tr style="border-bottom:1px black solid;"><td>Database engine:</td><td><!--^--database--^--></td></tr>
				<tr style="border-bottom:1px black solid;"><td>Template engine:</td><td><!--^--templates--^--></td></tr>
				<tr style="border-bottom:1px black solid;"><td>User engine:</td><td><!--^--users--^--></td></tr>
				<tr style="border-bottom:1px black solid;"><td>Cache engine:</td><td><!--^--cache--^--></td></tr>
				<tr style="border-bottom:1px black solid;"><td>Permissions:</td><td><!--^--permissions--^--></td></tr>
			</table>
			
		</div>
		
	</body>
</html>
